<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>223442959055-dg7clf0eet0bsdmr2tlfijqu0npfh5kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223442959055-dg7clf0eet0bsdmr2tlfijqu0npfh5kf</string>
	<key>API_KEY</key>
	<string>AIzaSyD3UoBic6Kla-I5QCsGCg_WH8UHPMdZHxA</string>
	<key>GCM_SENDER_ID</key>
	<string>223442959055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gameofChats.GameOFChats</string>
	<key>PROJECT_ID</key>
	<string>gameofgroupchats</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofgroupchats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223442959055:ios:10610bc58df78ee3</string>
	<key>DATABASE_URL</key>
	<string>https://gameofgroupchats.firebaseio.com</string>
</dict>
</plist>